/platforms/android/.gradle/**/*
/platforms/android/.idea/**/*
/platforms/android/android.iml
/platforms/android/app/app.iml
/platforms/android/app/build/**/*
/platforms/android/CordovaLib/build/**/*
/platforms/android/CordovaLib/CordovaLib.iml
