<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.hrj.demo.toast" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>toast</name><js-module name="toast" src="www/toast.js"><clobbers target="cordova.plugins.toast" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="toast"><param name="android-package" value="com.hrj.demo.toast.toast" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/toast.java" target-dir="src/com/hrj/demo/toast/toast" /></platform></plugin>